body { background: #bd4fb3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 13px; display: flex; }
.block-product-0 { color: #f8b3fc; font-size: 18px; margin-bottom: 5px; }
.block-uploader-1 { color: #228aec; font-size: 13px; margin-bottom: 5px; }
.block-validator-2 { color: #4e9353; font-size: 15px; margin-bottom: 5px; }
.block-cache-3 { color: #7f3b32; font-size: 19px; margin-bottom: 5px; }
.block-email-4 { color: #c4c6a6; font-size: 13px; margin-bottom: 5px; }
.block-sms-5 { color: #d735ff; font-size: 17px; margin-bottom: 5px; }